/* Work Sans Font from google font  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

/* Shared Style */
* {
  font-family: "Mulish";
}

span {
  color: #ff5400;
}

.button-design {
  width: 174px;
  height: 52px;
  background: #ff5400;
  border-radius: 8px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.shared-text {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.shared-paraghrap {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.text-light {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.pera {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

/* section one start */
body {
  padding: 32px 135px;
}

.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
}

.header-logo img {
  width: 48px;
  height: 56.008px;
  margin-top: 24px;
}

.header-logo h2 {
  font-size: 2.2rem;
}

.header-item ul {
  display: flex;
}

.header-item ul li {
  list-style: none;
  padding-left: 44px;
}

.header-item ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px 0px;
}

/* banner section start */
.banner {
  background: rgba(0, 0, 0, 0.4) url(images/banner.png);
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background-blend-mode: darken;
  opacity: 100%;
  margin-top: -50px;
}

.banner h3 {
  color: #fff;
  padding-top: 106px;
  font-family: "Mulish";
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.banner p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-left: 197px;
  margin-top: -50px;
}

.banner .banner-button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 52px;
  justify-content: center;
  align-items: center;
  margin-left: 135px;
  padding-right: 30px;
}

#button-all {
  background: #fff;
  width: 174px;
  height: 52px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}

#button-all input {
  border: none;
}

#button-all i {
  margin-left: -20px;
  margin-top: 20px;
}

.banner-button .button-style i {
  margin-top: 20px;
  margin-left: -30px;
}

/* section two start */
.tour-container {
  display: flex;
  height: 694px;
  gap: 20px;
  padding-top: 90px;
}

.tour-terms h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.tour-terms p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* Section Three start */
.place-title .shared-paraghrap,
.service-container .shared-paraghrap
{
  margin-left: 150px;
}
.place-img-container .place-img1 h4,
.place-img2 h4,
.place-img3 h4 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  position: relative;
  top: 200px;
}

.place-img-container img {
  width: 100%;
  height: 100%;
}

.place-img1,
.place-img3 {
  display: flex;
  height: 300px;
  gap: 24px;
  margin-bottom: 24px;
  position: relative;
  top: -100px;
}

.place-img2 {
  display: flex;
  height: 286px;
  gap: 24px;
  margin-bottom: 24px;
  position: relative;
  top: -100px;
}

/* Section four start */
.service-container {
  padding-top: 90px;
}
.service-box1 {
  display: flex;
  gap: 24px;
}

.service-box1-img {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-left: 32px;
  padding-right: 55px;
  padding-top: 32px;
}

.service-box2-img {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-left: 32px;
  padding-right: 55px;
  padding-top: 32px;
}


.service-box3 {
  width: 428px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding-left: 32px;
  padding-right: 55px;
  padding-top: 32px;
  margin-top: 24px;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: 265px;
}

/* section five start */
.section4-container {
  display: flex;
  gap: 24px;
  margin-top: 90px;
}

.newsletter {
  padding: 40px;
  width: 474px;
  height: 340px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: -10px;
}

.newsletter .line {
  width: 393px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}

.newsletter input {
  width: 371px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 20px;
  border: none;
  margin-bottom: 16px;
}

.news-btn {
  width: 393px;
  height: 52px;
  background: #ff5400;
  border-radius: 8px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 8px;
}

.section4-img img {
  width: 557px;
  height: 422px;
  border-radius: 16px;
}

.discount {
  width: 274px;
  height: 115px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  position: relative;
  margin-top: -217px;
  margin-left: 273px;
}

.discount h6 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding-top: 15px;
}

.discount h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-top: -45px;
  text-align: center;
}

/* section six start */
.footer {
  margin-left: -132px;
  text-align: center;
  background: rgba(19, 19, 24, 0.05);
  width: 1327px;
  height: 502px;
  margin-top: 90px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 90px;
}

.footer-logo img {
  width: 40px;
  height: 46.673px;
  position: relative;
}

.footer-logo h2 {
  color: var(--Dark-01, #131318);
  font-size: 2rem;
  font-weight: 800;
}

.shared-paraghrap {
  width: 769px;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-left: 265px;
}

.icon {
  width: 174.322px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 24px;
  display: flex;
  margin-left: 577px;
  margin-top: 50px;
}

.line2 {
  width: 775px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  align-items: center;
  margin: 24px 0;
  margin-left: 266px;
}

/* Responsive section start */
@media screen and (max-width: 600px) {
  main {
    /* padding: 10px 10px; */
  }
  .option{
    display: none;
  }
  .header-item,
  .tour-container,
  .place-img1,
  .place-img3,
  .place-img2,
  .service-box1,
  .section4-container {
    flex-direction: column;
  }
  .banner .banner-button{
    width: 215px;
    height: 300px;
    margin-left: 62px;
    flex-direction: column;
  }
  .button-design{
    width: 186px;
  }
  .banner,
  .tour-container,
  .tour-img img,
  .shared-paraghrap{
    width: 376px;
  }
  .header-logo{
    margin-left: 115px;
    margin-bottom: 16px;
  }
  .header-logo h2{
    display: flex;
  }
  .banner h3 {
    font-size: 1.5rem;
    padding-top: 32px;
  }
  .banner p{
    margin-left: -145px;
    margin-top: 0px;
  }
  .tour-img img,
  .shared-paraghrap {
    margin: 0;
  } 
  .place-title .shared-paraghrap, .service-container .shared-paraghrap {
    margin-left: 0;
  }
  .shared-text,
  .tour-terms h2,
  .pera {
    font-size: 20px;
    width: 388px;
  }
  .text-light {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .place-title {
    margin-top: 310px;
  }
  .place-img1 {
    width: 376px;
    height: auto;
    top: -100px;
  }
  .place-img1 .img2 {
    margin-top: -82px;
  }
  .place-img2 .img3 {
    width: 376px;
    height: 196px;
    margin-top: -82px;
  }
  .place-img2 .img4,
  .place-img2 .img5,
  .place-img3 .img6,
  .place-img3 .img7 {
    width: 376px;
    height: 196px;
  }

  .place-img3 {
    margin-top: 292px;
  }
  .place-img-container .place-img1 h4,
  .place-img2 h4,
  .place-img3 h4 {
    top: 142px;
    font-size: 20px;
    font-weight: 700;
  }
  .service-box1-img,
  .service-box2-img,
  .service-box3 {
    width: 287px;
    height: 255px;
  }
  .service-box img {
    width: 48px;
    height: 48px;
  }
  .service-box3{
    margin-left: 0;
    padding-top: 20px;
  }
  .newsletter{
    width: 330px;
    padding: 22px;
  }
  .newsletter .line,
  .news-btn {
    width: 330px;
  }
  .newsletter input{
    width: 309px;
  }
  .section4-img img{
    width: 376px;
    height: 390px;
  }
  .discount{
    width: 244px;
    height: 105px;
    margin-top: -203px;
    margin-left: 122px;
  }
  .footer{
    width: 376px;
    height: 310px;
    margin-left: -40px;
    padding: 40px;
  }
  .footer-logo{
    padding-top: 0;
  }
  .icon{
    margin: 10px 80px;
  }
  .line2{
    width: 342px;
    margin: 0;
  }
}
